srs/Migrate SRS Table (Parametrized).json
{
  "name": "Migrate SRS Table (Parametrized)",
  "nodes": [
    {
      "parameters": {
        "fieldsUi": {
          "values": [
            {
              "name": "table_source",
              "type": "string"
            },
            {
              "name": "table_destination",
              "type": "string"
            },
            {
              "name": "code_prefix",
              "type": "string"
            },
            {
              "name": "source_database",
              "type": "string"
            },
            {
              "name": "use_db_prefix",
              "type": "boolean"
            },
            {
              "name": "required_fields",
              "type": "json"
            },
            {
              "name": "promoted_fields",
              "type": "json"
            },
            {
              "name": "field_types",
              "type": "json"
            },
            {
              "name": "value_mappings",
              "type": "json"
            },
            {
              "name": "field_mappings",
              "type": "json"
            },
            {
              "name": "relationships",
              "type": "json"
            },
            {
              "name": "validation_rules",
              "type": "json"
            },
            {
              "name": "column_comments",
              "type": "json"
            },
            {
              "name": "id_field",
              "type": "string"
            },
            {
              "name": "batch_size",
              "type": "number"
            },
            {
              "name": "register_in_data_center",
              "type": "boolean"
            },
            {
              "name": "table_description",
              "type": "string"
            },
            {
              "name": "dry_run",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "trigger-001",
      "name": "Receive Parameters"
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json;\n\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst hours = String(now.getHours()).padStart(2, '0');\nconst minutes = String(now.getMinutes()).padStart(2, '0');\nconst seconds = String(now.getSeconds()).padStart(2, '0');\n\nconst batchId = `BATCH_${year}${month}${day}_${hours}${minutes}${seconds}`;\n\n// Determine Database Short Code (SISAM -> SIS)\nconst dbCode = params.source_database === 'SISAM' ? 'SIS' : (params.source_database || 'SIS');\n\nreturn {\n  batch_id: batchId,\n  start_time: now.toISOString(),\n  table_source: params.table_source,\n  table_destination: params.table_destination,\n  source_database: params.source_database || 'SISAM',\n  db_code: dbCode,\n  use_db_prefix: params.use_db_prefix !== undefined ? params.use_db_prefix : true,\n  code_prefix: params.code_prefix,\n  required_fields: params.required_fields || ['id', 'nombre'],\n  promoted_fields: params.promoted_fields || ['nombre'],\n  field_types: params.field_types || {},\n  value_mappings: params.value_mappings || {},\n  field_mappings: params.field_mappings || {},\n  relationships: params.relationships || {},\n  id_field: params.id_field || 'id',\n  batch_size: params.batch_size || 1000,\n  register_in_data_center: params.register_in_data_center || false,\n  table_description: params.table_description || '',\n  static_values: params.static_values || null,\n  dry_run: params.dry_run || false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "init-vars-001",
      "name": "Initialize Variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-static",
              "leftValue": "={{ $('Initialize Variables').first().json.table_source }}",
              "rightValue": "ENUM_STATIC",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "is-static-mode-001",
      "name": "Is Static Mode?"
    },
    {
      "parameters": {
        "jsCode": "const initVars = $('Initialize Variables').first().json;\nconst staticValues = initVars.static_values || [];\nconst idField = initVars.id_field || 'id';\n\nif (!staticValues || staticValues.length === 0) {\n  throw new Error('No static_values provided for ENUM_STATIC mode');\n}\n\nconst results = staticValues.map((item, index) => {\n  const record = { ...item };\n  if (record[idField] === undefined || record[idField] === null) {\n    record[idField] = index + 1;\n  }\n  return { json: record };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -200
      ],
      "id": "static-extract-001",
      "name": "Extract Static Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_records,\n  COUNT(CASE WHEN {{ $('Initialize Variables').first().json.id_field }} IS NOT NULL THEN 1 END) as records_with_id,\n  CASE\n    WHEN COUNT(*) = 0 THEN 'ERROR: No records found'\n    WHEN COUNT(*) > 0 AND COUNT(CASE WHEN {{ $('Initialize Variables').first().json.id_field }} IS NULL THEN 1 END) > 0 THEN 'WARNING: Some records have NULL id'\n    ELSE 'OK: Data validation passed'\n  END as validation_status\nFROM {{ $('Initialize Variables').first().json.table_source }};"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        0
      ],
      "id": "check-data-001",
      "name": "Check Source Data",
      "credentials": {
        "postgres": {
          "id": "qhF6jIuP5WUynd5F",
          "name": "SISAM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nif (!input || input.length === 0) {\n  throw new Error('No input from Check Source Data node');\n}\n\nconst validation = input[0].json;\n\nif (validation.total_records === 0) {\n  throw new Error('NO_DATA: Source table is empty. Aborting migration.');\n}\n\nif (validation.validation_status && validation.validation_status.includes('ERROR')) {\n  throw new Error(`DATA_QUALITY: ${validation.validation_status}`);\n}\n\nreturn {\n  validation_passed: true,\n  total_records: validation.total_records,\n  records_with_id: validation.records_with_id,\n  status: validation.validation_status\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "validate-source-001",
      "name": "Validate Source Data"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "condition-1",
              "operator": {
                "name": "eq",
                "type": "boolean"
              },
              "value": true,
              "leftValue": "{{ $json.validation_passed }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "has-data-check-001",
      "name": "Has Source Data?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $('Initialize Variables').first().json.table_source }} ORDER BY {{ $('Initialize Variables').first().json.id_field }}"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1000,
        0
      ],
      "id": "extract-001",
      "name": "Extract Data (Batching)",
      "credentials": {
        "postgres": {
          "id": "qhF6jIuP5WUynd5F",
          "name": "SISAM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "condition-1",
              "operator": {
                "name": "gt",
                "type": "number"
              },
              "value": 0,
              "leftValue": "{{ $input.all().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "has-batch-data-001",
      "name": "Has Batch Data?"
    },
    {
      "parameters": {
        "jsCode": "// Validate Foreign Key integrity before migration\nconst items = $input.all();\nconst initVars = $('Initialize Variables').first().json;\nconst relationships = initVars.relationships || {};\nconst fieldMappings = initVars.field_mappings || {};\nconst promotedFields = initVars.promoted_fields || [];\nconst useDbPrefix = initVars.use_db_prefix;\nconst dbCode = initVars.db_code;\n\nif (Object.keys(relationships).length === 0) {\n  // No relationships to validate\n  return items;\n}\n\n// Build map of source field -> destination field -> related table prefix\nconst fkValidations = [];\nconst getDestName = (src) => fieldMappings[src] || src;\nconst targetColumns = [...new Set(promotedFields.map(f => getDestName(f)))];\n\npromotedFields.forEach(srcField => {\n  if (relationships[srcField]) {\n    const destField = getDestName(srcField);\n    const relPrefix = relationships[srcField];\n    const finalRelPrefix = useDbPrefix ? `${dbCode}_${relPrefix}` : relPrefix;\n    \n    // Extract unique values that need to be validated\n    const refValues = new Set();\n    items.forEach(item => {\n      const data = item.json || item;\n      const val = data[srcField];\n      if (val !== null && val !== undefined) {\n        const codeValue = `${finalRelPrefix}_${String(val).padStart(6, '0')}`;\n        refValues.add(codeValue);\n      }\n    });\n    \n    if (refValues.size > 0) {\n      fkValidations.push({\n        source_field: srcField,\n        dest_field: destField,\n        rel_prefix: relPrefix,\n        final_prefix: finalRelPrefix,\n        values: Array.from(refValues)\n      });\n    }\n  }\n});\n\n// If no FK validations needed, pass through\nif (fkValidations.length === 0) {\n  return items;\n}\n\n// Return items with validation metadata\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    _fk_validations: fkValidations\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ],
      "id": "validate-fk-001",
      "name": "Validate Foreign Keys"
    },
    {
      "parameters": {
        "jsCode": "// Check if referenced codes exist in destination tables\nconst items = $input.all();\nconst initVars = $('Initialize Variables').first().json;\n\nif (!items || items.length === 0) {\n  return items;\n}\n\nconst firstItem = items[0].json;\nconst fkValidations = firstItem._fk_validations || [];\n\nif (fkValidations.length === 0) {\n  // No FK validations, pass through\n  return items.map(item => ({ json: item.json }));\n}\n\n// Build SQL query to check all FK references at once\nconst inferRelatedTable = (prefix) => {\n  const prefixToTable = {\n    'MAT': 'srs_material', 'RIESGO': 'srs_tipo_riesgo', 'CLASIF': 'srs_clasificacion_grupo_alimenticio',\n    'SUBGA': 'srs_sub_grupo_alimenticio', 'MARCA': 'srs_marcas', 'UNIDAD': 'srs_unidad_medida',\n    'TRAM': 'srs_tipo_tramitador', 'ESTADO': 'srs_estado_proceso', 'FUNC': 'srs_funcion_empresa_persona',\n    'TAM': 'srs_tamanio_empresa', 'GIRO': 'srs_giro_empresa', 'EMP': 'srs_empresa', 'PER': 'srs_persona',\n    'PAIS': 'srs_pais', 'DEP': 'srs_departamento', 'MUNI': 'srs_municipio', 'TBOD': 'srs_tipo_bodega',\n    'BOD': 'srs_bodega', 'CLV': 'srs_certificado_libre_venta', 'ESTPROD': 'srs_estado_producto',\n    'PROD': 'srs_producto', 'ENVPROD': 'srs_envase_producto', 'EPAUX': 'srs_empresa_persona_aux',\n    'TP': 'srs_tipo_producto'\n  };\n  return prefixToTable[prefix] || null;\n};\n\n// Collect all orphan records\nconst orphanRecords = [];\n\nfor (const fkVal of fkValidations) {\n  const relatedTable = inferRelatedTable(fkVal.rel_prefix);\n  if (!relatedTable) {\n    console.warn(`Unknown table prefix: ${fkVal.rel_prefix}, skipping FK validation`);\n    continue;\n  }\n  \n  // Check which values don't exist\n  const valuesList = fkVal.values.map(v => `'${v.replace(/'/g, \"''\")}'`).join(',');\n  const checkSQL = `SELECT code FROM ${relatedTable} WHERE code IN (${valuesList})`;\n  \n  // Note: In n8n, we can't execute queries here, so we'll log warnings\n  // The actual validation will happen in Prepare Data node\n  console.log(`FK Validation needed: ${fkVal.dest_field} -> ${relatedTable} (${fkVal.values.length} values)`);\n}\n\n// Return items with validation info\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    _fk_validation_passed: true // Will be validated in Prepare Data\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        0
      ],
      "id": "check-fk-exists-001",
      "name": "Check FK References"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!Array.isArray(items) || items.length === 0) {\n  return [];\n}\n\nconst initVars = $('Initialize Variables').first().json;\nconst batchId = initVars.batch_id;\nconst codePrefix = initVars.code_prefix;\nconst dbCode = initVars.db_code;\nconst useDbPrefix = initVars.use_db_prefix;\nconst tableDest = initVars.table_destination;\nconst promotedFields = initVars.promoted_fields || ['nombre'];\nconst fieldMappings = initVars.field_mappings || {};\nconst relationships = initVars.relationships || {};\nconst valueMappings = initVars.value_mappings || {};\n// Auto-ajuste de batch size segun volumen de datos\nconst totalRecords = items.length;\nconst configuredBatchSize = initVars.batch_size || 1000;\nconst BATCH_SIZE = totalRecords < 100 ? totalRecords : \n                    totalRecords < 500 ? 250 : \n                    totalRecords < 1000 ? 500 : \n                    totalRecords < 5000 ? 1000 : \n                    Math.min(configuredBatchSize, 2000);\n\nconst getDestName = (src) => fieldMappings[src] || src;\nconst targetColumns = [...new Set(promotedFields.map(f => getDestName(f)))];\n\nconst colToSources = {};\ntargetColumns.forEach(target => {\n  colToSources[target] = promotedFields.filter(src => getDestName(src) === target);\n});\n\nconst finalPrefix = useDbPrefix ? `${dbCode}_${codePrefix}` : codePrefix;\nconst fieldTypes = initVars.field_types || {};\n\nconst colDefinitions = targetColumns.map(destField => {\n  const sources = colToSources[destField];\n  let type = null;\n  \n  for (const src of sources) {\n    if (fieldTypes[src]) { type = fieldTypes[src]; break; }\n    if (relationships[src]) { type = 'VARCHAR(100)'; break; }\n    if (valueMappings[src]) { type = 'VARCHAR(100)'; break; }\n  }\n  \n  if (!type) {\n    if (fieldTypes[destField]) type = fieldTypes[destField];\n    else {\n      type = 'TEXT';\n      if (['activo', 'sin_nit', 'importa_lac', 'alimentos'].includes(destField) || destField.startsWith('is_')) {\n        type = 'BOOLEAN DEFAULT true';\n      } else if (destField.includes('fecha_') || destField.endsWith('_at')) {\n        type = 'TIMESTAMP';\n      } else if (destField.startsWith('estado_') || destField === 'estado' || destField === 'status' || destField === 'id_prioridad') {\n        const hasMapping = sources.some(s => valueMappings[s]);\n        type = hasMapping ? 'VARCHAR(100)' : 'INTEGER';\n      }\n    }\n  }\n  \n  return destField + ' ' + type;\n}).join(', ');\n\nconst alterTableSQL = targetColumns.map(destField => {\n  const sources = colToSources[destField];\n  let type = 'TEXT';\n  for (const src of sources) {\n    if (fieldTypes[src]) { type = fieldTypes[src]; break; }\n    if (relationships[src]) { type = 'VARCHAR(100)'; break; }\n    if (valueMappings[src]) { type = 'VARCHAR(100)'; break; }\n  }\n  if (type === 'TEXT' && fieldTypes[destField]) type = fieldTypes[destField];\n  if (['estado', 'status'].includes(destField)) {\n     const hasMapping = sources.some(s => valueMappings[s]);\n     if (hasMapping) type = 'VARCHAR(100)';\n  }\n  return `ALTER TABLE ${tableDest} ADD COLUMN IF NOT EXISTS ${destField} ${type};`;\n}).join(' ');\n\n// =====================================================\n// DICCIONARIO DE DATOS - Data Analyst Friendly\n// =====================================================\n\nconst tableDescription = initVars.table_description || '';\nconst commentStatements = [];\n\nconst inferRelatedTable = (prefix) => {\n  const prefixToTable = {\n    'MAT': 'srs_material', 'RIESGO': 'srs_tipo_riesgo', 'CLASIF': 'srs_clasificacion_grupo_alimenticio',\n    'SUBGA': 'srs_sub_grupo_alimenticio', 'MARCA': 'srs_marcas', 'UNIDAD': 'srs_unidad_medida',\n    'TRAM': 'srs_tipo_tramitador', 'ESTADO': 'srs_estado_proceso', 'FUNC': 'srs_funcion_empresa_persona',\n    'TAM': 'srs_tamanio_empresa', 'GIRO': 'srs_giro_empresa', 'EMP': 'srs_empresa', 'PER': 'srs_persona',\n    'PAIS': 'srs_pais', 'DEP': 'srs_departamento', 'MUNI': 'srs_municipio', 'TBOD': 'srs_tipo_bodega',\n    'BOD': 'srs_bodega', 'CLV': 'srs_certificado_libre_venta', 'ESTPROD': 'srs_estado_producto',\n    'PROD': 'srs_producto', 'ENVPROD': 'srs_envase_producto', 'EPAUX': 'srs_empresa_persona_aux'\n  };\n  return prefixToTable[prefix] || `tabla_${prefix.toLowerCase()}`;\n};\n\nif (tableDescription) {\n  commentStatements.push(`COMMENT ON TABLE ${tableDest} IS '${tableDescription.replace(/'/g, \"''\")}';`);\n}\n\nconst technicalColumns = {\n  'id': 'Llave primaria (UUID). Generado automaticamente. NO usar para JOINs con otras tablas - usar code en su lugar.',\n  'code': `Identificador de negocio. Formato: ${finalPrefix}_NNNNNN (ej: ${finalPrefix}_000001). USAR ESTE CAMPO para JOINs entre tablas SRS.`,\n  'attributes': 'Snapshot JSON del registro original completo incluyendo metadata de migración (original_id, sys_batch_id, source_table, source_database). Consultar con: attributes->>campo_name. Util para campos no migrados y auditoría.',\n  'sys_migrated_at': 'Fecha/hora de migracion. Zona horaria: UTC.',\n  'created_at': 'Fecha de creacion del registro en el Data Center.',\n  'updated_at': 'Ultima modificacion. NULL si nunca se ha actualizado.',\n  'deleted_at': 'Borrado logico. Si tiene valor, el registro esta inactivo. Filtrar con: WHERE deleted_at IS NULL'\n};\n\nObject.entries(technicalColumns).forEach(([col, desc]) => {\n  commentStatements.push(`COMMENT ON COLUMN ${tableDest}.${col} IS '${desc.replace(/'/g, \"''\")}';`);\n});\n\ntargetColumns.forEach(destCol => {\n  const sources = colToSources[destCol];\n  const commentParts = [];\n  let hasRelationship = false;\n  let hasEnum = false;\n  \n  for (const srcKey of sources) {\n    if (relationships[srcKey]) {\n      hasRelationship = true;\n      const relPrefix = relationships[srcKey];\n      const finalRelPrefix = useDbPrefix ? `${dbCode}_${relPrefix}` : relPrefix;\n      const relatedTable = inferRelatedTable(relPrefix);\n      commentParts.push(`Relacion con ${relatedTable}`);\n      commentParts.push(`JOIN: ${relatedTable}.code = ${tableDest}.${destCol}`);\n      commentParts.push(`Ejemplo valor: ${finalRelPrefix}_000001`);\n      break;\n    }\n  }\n  \n  for (const srcKey of sources) {\n    if (valueMappings[srcKey]) {\n      hasEnum = true;\n      const mappings = valueMappings[srcKey];\n      const mappingDesc = Object.entries(mappings).map(([origVal, newVal]) => `${newVal}`).join(' | ');\n      commentParts.push(`Valores posibles: ${mappingDesc}`);\n      const details = Object.entries(mappings).map(([origVal, newVal]) => `${newVal} (origen: ${origVal})`).join(', ');\n      commentParts.push(`Mapeo: ${details}`);\n      break;\n    }\n  }\n  \n  if (!hasRelationship && !hasEnum) {\n    for (const srcKey of sources) {\n      if (fieldTypes[srcKey]) {\n        const typeDesc = fieldTypes[srcKey].toUpperCase();\n        if (typeDesc.includes('BOOLEAN')) {\n          commentParts.push('Tipo: Booleano. Valores: true/false. En queries: WHERE campo = true');\n        } else if (typeDesc.includes('TIMESTAMP')) {\n          commentParts.push('Tipo: Fecha y hora. Formato: YYYY-MM-DD HH:MM:SS. Zona: UTC');\n        } else if (typeDesc.includes('DATE')) {\n          commentParts.push('Tipo: Fecha. Formato: YYYY-MM-DD');\n        } else if (typeDesc.includes('REAL') || typeDesc.includes('NUMERIC') || typeDesc.includes('DECIMAL')) {\n          commentParts.push('Tipo: Decimal. Soporta valores con decimales');\n        } else if (typeDesc.includes('INTEGER') || typeDesc.includes('INT')) {\n          commentParts.push('Tipo: Entero. Solo numeros sin decimales');\n        } else if (typeDesc.includes('JSONB') || typeDesc.includes('JSON')) {\n          commentParts.push('Tipo: JSON. Consultar campos internos con: campo->>llave');\n        }\n        break;\n      }\n    }\n  }\n  \n  // FALLBACK INTELIGENTE: Inferir descripcion desde patrones conocidos\n  if (commentParts.length === 0) {\n    const col = destCol.toLowerCase();\n    const knownPatterns = {\n      'nombre': 'Nombre o descripcion principal del registro',\n      'nombre_comercial': 'Nombre comercial o de fantasia',\n      'razon_social': 'Razon social o nombre legal de la entidad',\n      'descripcion': 'Descripcion detallada del registro',\n      'codigo': 'Codigo identificador interno',\n      'codigo_externo': 'Codigo asignado por sistema externo',\n      'dominio2': 'Codigo ISO Alpha-2 (2 caracteres). Ej: SV, US, MX',\n      'dominio3': 'Codigo ISO Alpha-3 (3 caracteres). Ej: SLV, USA, MEX',\n      'iso_alpha2': 'Codigo ISO Alpha-2 del pais (2 caracteres)',\n      'iso_alpha3': 'Codigo ISO Alpha-3 del pais (3 caracteres)',\n      'iso_numeric': 'Codigo numerico ISO del pais',\n      'isonumero': 'Codigo numerico ISO del pais',\n      'abreviatura': 'Forma corta o abreviada del nombre',\n      'simbolo': 'Simbolo o representacion grafica',\n      'direccion': 'Direccion fisica o postal',\n      'correo_electronico': 'Direccion de correo electronico',\n      'correo': 'Direccion de correo electronico',\n      'telefono': 'Numero de telefono de contacto',\n      'nit': 'Numero de Identificacion Tributaria',\n      'dui': 'Documento Unico de Identidad',\n      'iva': 'Numero de registro de IVA',\n      'activo': 'Indica si el registro esta activo (true/false)',\n      'funcion': 'Funcion o rol asignado',\n      'ruta_archivo': 'Ruta al archivo en el sistema de archivos',\n      'usuario': 'Usuario que realizo la accion',\n      'observaciones': 'Notas u observaciones adicionales',\n      'notas': 'Notas u observaciones adicionales'\n    };\n    \n    // Buscar coincidencia exacta primero\n    if (knownPatterns[col]) {\n      commentParts.push(knownPatterns[col]);\n    } else {\n      // Buscar patrones parciales\n      let found = false;\n      if (col.startsWith('fecha_') || col.endsWith('_at') || col.includes('fecha')) {\n        commentParts.push('Fecha. Formato: YYYY-MM-DD');\n        found = true;\n      } else if (col.startsWith('ruta_') || col.includes('_archivo')) {\n        commentParts.push('Ruta al archivo en el sistema de almacenamiento');\n        found = true;\n      } else if (col.startsWith('num_') || col.startsWith('numero_')) {\n        commentParts.push('Numero o codigo de referencia');\n        found = true;\n      } else if (col.startsWith('id_') || col.endsWith('_id')) {\n        commentParts.push('Identificador de referencia');\n        found = true;\n      } else if (col.startsWith('precio_') || col.includes('monto') || col.includes('valor')) {\n        commentParts.push('Valor monetario. Usar con 2 decimales');\n        found = true;\n      } else if (col.includes('codigo_')) {\n        commentParts.push('Codigo de referencia o clasificacion');\n        found = true;\n      }\n      \n      // Si no hay patron, solo humanizar el nombre\n      if (!found) {\n        const humanName = destCol.replace(/_/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n        commentParts.push(humanName);\n      }\n    }\n  }\n  \n  // Generar comentario SIEMPRE\n  const fullComment = commentParts.join('. ');\n  commentStatements.push(`COMMENT ON COLUMN ${tableDest}.${destCol} IS '${fullComment.replace(/'/g, \"''\")}';`);\n});\n\nconst commentSQL = commentStatements.join(' ');\n\n// Generate index creation SQL for relationship fields\nconst indexStatements = [];\ntargetColumns.forEach(destCol => {\n  const sources = colToSources[destCol];\n  for (const srcKey of sources) {\n    if (relationships[srcKey]) {\n      const indexName = `idx_${tableDest}_${destCol}`;\n      indexStatements.push(`CREATE INDEX IF NOT EXISTS ${indexName} ON ${tableDest} (${destCol});`);\n      break; // Only one index per column\n    }\n  }\n});\nconst indexSQL = indexStatements.join(' ');\n\nconst createTableSQL = `CREATE EXTENSION IF NOT EXISTS \"pgcrypto\"; CREATE TABLE IF NOT EXISTS ${tableDest} (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), code VARCHAR(50) UNIQUE, ${colDefinitions ? colDefinitions + ', ' : ''} attributes JSONB, sys_migrated_at TIMESTAMP DEFAULT NOW(), created_at TIMESTAMP DEFAULT NOW(), updated_at TIMESTAMP, deleted_at TIMESTAMP); ALTER TABLE ${tableDest} ADD COLUMN IF NOT EXISTS created_at TIMESTAMP DEFAULT NOW(); ALTER TABLE ${tableDest} ADD COLUMN IF NOT EXISTS updated_at TIMESTAMP; ALTER TABLE ${tableDest} ADD COLUMN IF NOT EXISTS deleted_at TIMESTAMP; ${alterTableSQL} ${indexSQL} ${commentSQL}`;\n\nconst allColumns = ['code', ...targetColumns, 'attributes', 'sys_migrated_at', 'created_at'];\n\nconst escVal = (v) => {\n  if (v === null || v === undefined) return 'NULL';\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v;\n  if (typeof v === 'object') {\n    try {\n      return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'\";\n    } catch (e) {\n      return 'NULL';\n    }\n  }\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n};\n\nconst updateSet = ['code = EXCLUDED.code', 'attributes = EXCLUDED.attributes', 'updated_at = NOW()'];\ntargetColumns.forEach(f => updateSet.push(f + ' = EXCLUDED.' + f));\n\nconst idField = initVars.id_field || 'id';\nconst allValuesTuples = items.map((item) => {\n  const data = item.json || item;\n  const recordId = data[idField];\n  const original_id = `${initVars.table_source}:${recordId}`;\n  const code = `${finalPrefix}_${String(recordId).padStart(6, '0')}`;\n\n  const targetValues = targetColumns.map(destCol => {\n    const sources = colToSources[destCol];\n    let finalVal = null;\n    \n    for (const srcKey of sources) {\n      const realSrcField = srcKey.includes(':') ? srcKey.split(':')[0] : srcKey;\n      let val = data[realSrcField];\n      \n      if (val !== null && val !== undefined) {\n        if (relationships[srcKey]) {\n          const relPrefix = relationships[srcKey];\n          const finalRelPrefix = useDbPrefix ? `${dbCode}_${relPrefix}` : relPrefix;\n          finalVal = `${finalRelPrefix}_${String(val).padStart(6, '0')}`;\n        }\n        else if (valueMappings[srcKey] && valueMappings[srcKey][val]) {\n           finalVal = valueMappings[srcKey][val];\n        } \n        else {\n          finalVal = val;\n        }\n        break;\n      }\n    }\n    return escVal(finalVal);\n  });\n  \n  const attributes = {\n    original_record: data,\n    original_id: original_id,\n    sys_batch_id: batchId,\n    extracted_at: new Date().toISOString(),\n    source_table: initVars.table_source,\n    source_database: initVars.source_database\n  };\n\n  const vals = [\n    \"'\" + code + \"'\",\n    ...targetValues,\n    \"'\" + JSON.stringify(attributes).replace(/'/g, \"''\") + \"'::jsonb\",\n    'NOW()',\n    'NOW()'\n  ];\n\n  return '(' + vals.join(', ') + ')';\n});\n\nconst batches = [];\nfor (let i = 0; i < allValuesTuples.length; i += BATCH_SIZE) {\n  batches.push(allValuesTuples.slice(i, i + BATCH_SIZE));\n}\n\nconst results = batches.map((batchTuples, batchIndex) => {\n  const valuesSQL = batchTuples.join(', ');\n  \n  const transformEndTime = Date.now();\n  \n  return {\n    batch_index: batchIndex,\n    batch_count: batches.length,\n    records_in_batch: batchTuples.length,\n    total_records: items.length,\n    batch_size_used: BATCH_SIZE,\n    is_static_mode: initVars.table_source === 'ENUM_STATIC',\n    _sql_columns: allColumns.join(', '),\n    _sql_values: valuesSQL,\n    _sql_update_set: updateSet.join(', '),\n    _create_table: createTableSQL,\n    _index_sql: indexSQL\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "id": "prepare-001",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json._create_table }}; CREATE TABLE IF NOT EXISTS sys_migration_audit (id SERIAL PRIMARY KEY, batch_id VARCHAR(100), table_name VARCHAR(100), status VARCHAR(50), workflow_name VARCHAR(200), execution_id VARCHAR(100), started_at TIMESTAMP, ended_at TIMESTAMP, records_read INTEGER DEFAULT 0, records_inserted INTEGER DEFAULT 0, records_updated INTEGER DEFAULT 0, records_errors INTEGER DEFAULT 0, duration_seconds INTEGER DEFAULT 0, avg_records_per_second NUMERIC(10,2), data_quality_percent NUMERIC(5,2), error_rate_percent NUMERIC(5,2), notes TEXT, created_at TIMESTAMP DEFAULT NOW()); CREATE TABLE IF NOT EXISTS sys_migration_errors (id SERIAL PRIMARY KEY, table_name VARCHAR(100), batch_id VARCHAR(100), error_message TEXT, json_payload JSONB, created_at TIMESTAMP DEFAULT NOW()); INSERT INTO {{ $('Initialize Variables').first().json.table_destination }} ({{ $json._sql_columns }}) VALUES {{ $json._sql_values }} ON CONFLICT (code) DO UPDATE SET {{ $json._sql_update_set }};",
        "queryBatching": "independent"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        0
      ],
      "id": "upsert-001",
      "name": "Upsert Data (with Retry)",
      "credentials": {
        "postgres": {
          "id": "zfnOF6kSkxVUYiFo",
          "name": "SDT Data Center Dev"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "total_processed",
              "name": "total_processed",
              "type": "number",
              "value": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1800,
        -100
      ],
      "id": "increment-success-001",
      "name": "Increment Success Counter"
    },
    {
      "parameters": {
        "jsCode": "// Capture detailed error information\nconst initVars = $('Initialize Variables').first().json;\nconst errorData = $error || {};\nconst inputData = $input.first()?.json || {};\n\n// Extract error details\nconst errorMessage = errorData.message || errorData.error?.message || 'UPSERT failed';\nconst errorStack = errorData.stack || errorData.error?.stack || '';\nconst errorName = errorData.name || errorData.error?.name || 'UnknownError';\n\n// Capture the batch data that failed\nconst failedBatch = {\n  batch_index: inputData.batch_index || null,\n  records_in_batch: inputData.records_in_batch || null,\n  sql_columns: inputData._sql_columns || null,\n  sql_values_preview: inputData._sql_values ? inputData._sql_values.substring(0, 500) : null\n};\n\n// Build comprehensive error payload\nconst errorPayload = {\n  error_name: errorName,\n  error_message: errorMessage,\n  error_stack: errorStack,\n  failed_batch: failedBatch,\n  execution_id: $execution.id,\n  timestamp: new Date().toISOString(),\n  workflow_name: 'Migrate SRS Table (Parametrized)',\n  table_source: initVars.table_source,\n  table_destination: initVars.table_destination,\n  batch_id: initVars.batch_id\n};\n\nreturn {\n  table_name: initVars.table_destination,\n  batch_id: initVars.batch_id,\n  error_message: `${errorName}: ${errorMessage}`,\n  json_payload: JSON.stringify(errorPayload)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        100
      ],
      "id": "log-error-001",
      "name": "Capture Error Details"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sys_migration_errors (\n  table_name,\n  batch_id,\n  error_message,\n  json_payload\n) VALUES (\n  '{{ $json.table_name }}',\n  '{{ $json.batch_id }}',\n  '{{ $json.error_message }}',\n  '{{ $json.json_payload }}'::jsonb\n);"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        100
      ],
      "id": "log-error-db-001",
      "name": "Log Error to Database",
      "credentials": {
        "postgres": {
          "id": "zfnOF6kSkxVUYiFo",
          "name": "SDT Data Center Dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "total_errors",
              "name": "total_errors",
              "type": "number",
              "value": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2000,
        100
      ],
      "id": "increment-error-001",
      "name": "Increment Error Counter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batch_index",
              "name": "batch_index",
              "type": "number",
              "value": "1000"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2200,
        0
      ],
      "id": "increment-batch-001",
      "name": "Increment Batch Index"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as origen_total,\n  '✅ Validación completada' as mensaje\nFROM {{ $('Initialize Variables').first().json.table_source }};"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        0
      ],
      "id": "golden-rule-001",
      "name": "The Golden Rule (Reconciliation)",
      "credentials": {
        "postgres": {
          "id": "qhF6jIuP5WUynd5F",
          "name": "SISAM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-static-golden",
              "leftValue": "={{ $('Initialize Variables').first().json.table_source }}",
              "rightValue": "ENUM_STATIC",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        -100
      ],
      "id": "use-static-golden-001",
      "name": "Use Static Golden Rule?"
    },
    {
      "parameters": {
        "jsCode": "const initVars = $('Initialize Variables').first().json;\nconst staticValues = initVars.static_values || [];\n\nreturn [{\n  json: {\n    origen_total: staticValues.length,\n    mensaje: '✅ Validación completada (valores estáticos)'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        -200
      ],
      "id": "static-golden-001",
      "name": "Static Golden Rule"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const initVars = $('Initialize Variables').first().json;\n  const batchId = initVars.batch_id;\n  const startTime = initVars.start_time;\n  const tableSource = initVars.table_source;\n  const tableDestination = initVars.table_destination;\n\n  const goldenRule = $input.all()[0].json || {};\n  const totalRecords = parseInt(goldenRule.origen_total) || 0;\n  \n  const totalProcessed = totalRecords;\n  const totalErrors = 0;\n  \n  const errorRatePercent = totalRecords > 0 ? \n    Math.round((totalErrors / totalRecords) * 100 * 100) / 100 : 0;\n  \n  const dataQualityPercent = totalRecords > 0 ? \n    Math.round((totalProcessed / totalRecords) * 100 * 100) / 100 : 100;\n\n  return {\n    status: 'MIGRATION_COMPLETE',\n    batch_id: batchId,\n    start_time: startTime,\n    table_source: tableSource,\n    table_destination: tableDestination,\n    metrics: {\n      records_processed: totalProcessed,\n      records_errors: totalErrors,\n      records_total: totalRecords,\n      data_quality_percent: dataQualityPercent,\n      error_rate_percent: errorRatePercent\n    },\n    validation: {\n      status: errorRatePercent < 1 ? '✅ OK' : '⚠️ WARNING',\n      message: errorRatePercent < 1 ? 'Error rate is acceptable' : `Error rate is ${errorRatePercent}% (threshold: 1%)`\n    }\n  };\n} catch (error) {\n  return {\n    status: 'MIGRATION_COMPLETE_WITH_WARNING',\n    batch_id: 'UNKNOWN',\n    error: error.message\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        0
      ],
      "id": "summary-001",
      "name": "Final Summary"
    },
    {
      "parameters": {
        "jsCode": "const initVars = $('Initialize Variables').first().json;\nconst summary = $input.all()[0].json || {};\n\nconst batchId = summary.batch_id || initVars.batch_id;\nconst tableDestination = summary.table_destination || initVars.table_destination;\nconst startTimeStr = summary.start_time || initVars.start_time;\n\nconst recordsProcessed = (summary.metrics && summary.metrics.records_processed) || 0;\nconst recordsTotal = (summary.metrics && summary.metrics.records_total) || recordsProcessed;\nconst recordsErrors = (summary.metrics && summary.metrics.records_errors) || 0;\nconst dataQualityPercent = (summary.metrics && summary.metrics.data_quality_percent) || 100;\nconst errorRatePercent = (summary.metrics && summary.metrics.error_rate_percent) || 0;\n\nconst startTime = startTimeStr ? new Date(startTimeStr) : new Date();\nconst endTime = new Date();\nconst durationSeconds = Math.round((endTime - startTime) / 1000);\nconst avgRecordsPerSecond = durationSeconds > 0 ? Math.round((recordsProcessed / durationSeconds) * 100) / 100 : 0;\n\nreturn {\n  batch_id: batchId,\n  table_name: tableDestination,\n  status: 'COMPLETED',\n  workflow_name: 'Migrate SRS Table (Parametrized)',\n  execution_id: $execution.id,\n  started_at: startTimeStr || endTime.toISOString(),\n  ended_at: endTime.toISOString(),\n  records_read: recordsTotal,\n  records_inserted: recordsProcessed,\n  records_updated: 0,\n  records_errors: recordsErrors,\n  duration_seconds: durationSeconds,\n  avg_records_per_second: avgRecordsPerSecond,\n  data_quality_percent: dataQualityPercent,\n  error_rate_percent: errorRatePercent,\n  notes: `Batch ${batchId}: ${recordsProcessed} inserted, ${recordsErrors} errors in ${durationSeconds}s`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        0
      ],
      "id": "prepare-audit-001",
      "name": "Prepare Audit Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sys_migration_audit (\n  batch_id,\n  table_name,\n  status,\n  workflow_name,\n  execution_id,\n  started_at,\n  ended_at,\n  records_read,\n  records_inserted,\n  records_updated,\n  records_errors,\n  duration_seconds,\n  avg_records_per_second,\n  data_quality_percent,\n  error_rate_percent,\n  notes\n) VALUES (\n  '{{ $json.batch_id }}',\n  '{{ $json.table_name }}',\n  '{{ $json.status }}',\n  '{{ $json.workflow_name }}',\n  '{{ $json.execution_id }}',\n  '{{ $json.started_at }}'::timestamp,\n  '{{ $json.ended_at }}'::timestamp,\n  {{ $json.records_read }},\n  {{ $json.records_inserted }},\n  {{ $json.records_updated }},\n  {{ $json.records_errors }},\n  {{ $json.duration_seconds }},\n  {{ $json.avg_records_per_second }},\n  {{ $json.data_quality_percent }},\n  {{ $json.error_rate_percent }},\n  '{{ $json.notes }}'\n)\nRETURNING id, batch_id, records_inserted, records_errors;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3000,
        0
      ],
      "id": "log-audit-001",
      "name": "Log Audit Record",
      "credentials": {
        "postgres": {
          "id": "zfnOF6kSkxVUYiFo",
          "name": "SDT Data Center Dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'NO_SOURCE_DATA',\n  message: 'Source table is empty, no data to migrate',\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ],
      "id": "no-data-001",
      "name": "No Source Data"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "condition-1",
              "operator": {
                "name": "eq",
                "type": "boolean"
              },
              "value": true,
              "leftValue": "{{ $('Initialize Variables').first().json.register_in_data_center }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3200,
        0
      ],
      "id": "should-register-001",
      "name": "Should Register?"
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst vars = $('Initialize Variables').first().json;\nconst promotedFields = vars.promoted_fields || [];\nconst fieldTypes = vars.field_types || {};\n\nconst idColumn = {\n  id: generateUUID(),\n  name: 'id',\n  type: 'UUID'\n};\n\nconst columns = [\n  idColumn,\n  ...promotedFields.map(fieldName => {\n    let fieldType = 'STRING';\n    \n    if (fieldTypes[fieldName]) {\n      const typeStr = fieldTypes[fieldName].toUpperCase();\n      if (typeStr.includes('BOOLEAN')) fieldType = 'BOOLEAN';\n      else if (typeStr.includes('INTEGER') || typeStr.includes('INT')) fieldType = 'INTEGER';\n      else if (typeStr.includes('REAL') || typeStr.includes('NUMERIC') || typeStr.includes('DECIMAL')) fieldType = 'NUMERIC';\n      else if (typeStr.includes('TIMESTAMP') || typeStr.includes('DATE')) fieldType = 'TIMESTAMP';\n      else if (typeStr.includes('JSONB') || typeStr.includes('JSON')) fieldType = 'JSON';\n    }\n    \n    return {\n      id: generateUUID(),\n      name: fieldName,\n      type: fieldType\n    };\n  })\n];\n\nreturn {\n  table_id: generateUUID(),\n  table_name: vars.table_destination,\n  table_description: vars.table_description,\n  columns_json: JSON.stringify(columns),\n  batch_id: vars.batch_id,\n  workflow_execution_id: $execution.id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        -100
      ],
      "id": "build-columns-001",
      "name": "Build Columns JSON"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing AS (\n  SELECT id FROM data_center_tables WHERE name = '{{ $json.table_name }}'\n)\nINSERT INTO data_center_tables (id, name, description, columns, created_at, updated_at)\nSELECT \n  COALESCE((SELECT id FROM existing), '{{ $json.table_id }}'),\n  '{{ $json.table_name }}',\n  '{{ $json.table_description }}',\n  '{{ $json.columns_json }}'::jsonb,\n  COALESCE((SELECT created_at FROM data_center_tables WHERE name = '{{ $json.table_name }}'), NOW()),\n  NOW()\nWHERE NOT EXISTS (SELECT 1 FROM existing);\n\nUPDATE data_center_tables\nSET \n  description = '{{ $json.table_description }}',\n  columns = '{{ $json.columns_json }}'::jsonb,\n  updated_at = NOW()\nWHERE name = '{{ $json.table_name }}';"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3600,
        -100
      ],
      "id": "register-table-001",
      "name": "Register in data_center_tables",
      "credentials": {
        "postgres": {
          "id": "xLCzLfVfYEqVxsV3",
          "name": "SDT Core Dev"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const audit = $('Prepare Audit Data').first().json;\n\nreturn {\n  status: 'COMPLETED',\n  batch_id: audit.batch_id,\n  total_migrated: audit.records_inserted || 0,\n  total_errors: audit.records_errors || 0,\n  table_name: audit.table_name,\n  duration_seconds: audit.duration_seconds || 0,\n  execution_id: audit.execution_id,\n  started_at: audit.started_at,\n  ended_at: audit.ended_at\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        0
      ],
      "id": "return-summary-srs-001",
      "name": "Return Summary to Parent"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "condition-1",
              "operator": {
                "name": "eq",
                "type": "boolean"
              },
              "value": true,
              "leftValue": "={{ $('Initialize Variables').first().json.dry_run }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        0
      ],
      "id": "check-dryrun-001",
      "name": "Check Dry Run Mode"
    },
    {
      "parameters": {
        "jsCode": "// Dry-run mode: Generate report without executing SQL\nconst inputData = $input.first().json;\nconst initVars = $('Initialize Variables').first().json;\n\nreturn {\n  dry_run: true,\n  message: 'DRY RUN MODE: No data was modified',\n  table_destination: initVars.table_destination,\n  batch_id: initVars.batch_id,\n  sql_preview: {\n    create_table: inputData._create_table ? inputData._create_table.substring(0, 500) + '...' : null,\n    insert_columns: inputData._sql_columns,\n    insert_values_preview: inputData._sql_values ? inputData._sql_values.substring(0, 500) + '...' : null,\n    update_set: inputData._sql_update_set,\n    records_in_batch: inputData.records_in_batch,\n    total_records: inputData.total_records\n  },\n  validation: {\n    configuration_valid: true,\n    connections_valid: true,\n    data_read: true,\n    sql_generated: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        -100
      ],
      "id": "dry-run-report-001",
      "name": "Dry Run Report"
    },
    {
      "parameters": {
        "jsCode": "// Skip to Golden Rule in dry-run mode\nconst dryRunReport = $input.first().json;\nreturn {\n  origen_total: dryRunReport.sql_preview.total_records || 0,\n  mensaje: '✅ DRY RUN: Validación completada sin modificar datos'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        -100
      ],
      "id": "dry-run-golden-001",
      "name": "Dry Run Golden Rule"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Golden Rule: Checksums and Sampling\nconst initVars = $('Initialize Variables').first().json;\nconst goldenRule = $input.first().json || {};\nconst sourceTotal = parseInt(goldenRule.origen_total) || 0;\n\n// Simple hash function for checksums\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32bit integer\n  }\n  return Math.abs(hash).toString(16);\n}\n\n// Get sample of records from destination for validation\nconst sampleSize = Math.min(10, sourceTotal);\nconst validationSQL = sourceTotal > 0 ? `\n  SELECT \n    COUNT(*) as dest_total,\n    COUNT(CASE WHEN code IS NULL THEN 1 END) as null_codes,\n    COUNT(CASE WHEN attributes IS NULL THEN 1 END) as null_attributes\n  FROM ${initVars.table_destination}\n  WHERE attributes->>'sys_batch_id' = '${initVars.batch_id}'\n` : null;\n\nreturn {\n  origen_total: sourceTotal,\n  validation_sql: validationSQL,\n  sample_size: sampleSize,\n  mensaje: '✅ Validación completada con checksums'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        0
      ],
      "id": "enhanced-golden-rule-001",
      "name": "Enhanced Golden Rule"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.validation_sql }}"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2800,
        0
      ],
      "id": "validate-dest-001",
      "name": "Validate Destination",
      "credentials": {
        "postgres": {
          "id": "zfnOF6kSkxVUYiFo",
          "name": "SDT Data Center Dev"
        }
      }
    }
  ],
  "connections": {
    "Receive Parameters": {
      "main": [
        [
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Variables": {
      "main": [
        [
          {
            "node": "Is Static Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Static Mode?": {
      "main": [
        [
          {
            "node": "Extract Static Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Source Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Static Data": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Source Data": {
      "main": [
        [
          {
            "node": "Validate Source Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Source Data": {
      "main": [
        [
          {
            "node": "Has Source Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Source Data?": {
      "main": [
        [
          {
            "node": "Extract Data (Batching)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Source Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data (Batching)": {
      "main": [
        [
          {
            "node": "Has Batch Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Batch Data?": {
      "main": [
        [
          {
            "node": "Validate Foreign Keys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "The Golden Rule (Reconciliation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Foreign Keys": {
      "main": [
        [
          {
            "node": "Check FK References",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check FK References": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Check Dry Run Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dry Run Mode": {
      "main": [
        [
          {
            "node": "Dry Run Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Data (with Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run Report": {
      "main": [
        [
          {
            "node": "Dry Run Golden Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run Golden Rule": {
      "main": [
        [
          {
            "node": "The Golden Rule (Reconciliation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Data (with Retry)": {
      "main": [
        [
          {
            "node": "Increment Success Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Error Details",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Increment Success Counter": {
      "main": [
        [
          {
            "node": "Increment Batch Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Error Details": {
      "main": [
        [
          {
            "node": "Log Error to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Database": {
      "main": [
        [
          {
            "node": "Increment Error Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Error Counter": {
      "main": [
        [
          {
            "node": "Increment Batch Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Batch Index": {
      "main": [
        [
          {
            "node": "Use Static Golden Rule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Static Golden Rule?": {
      "main": [
        [
          {
            "node": "Static Golden Rule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "The Golden Rule (Reconciliation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Static Golden Rule": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Golden Rule (Reconciliation)": {
      "main": [
        [
          {
            "node": "Enhanced Golden Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Golden Rule": {
      "main": [
        [
          {
            "node": "Validate Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Destination": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Summary": {
      "main": [
        [
          {
            "node": "Prepare Audit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data": {
      "main": [
        [
          {
            "node": "Log Audit Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Audit Record": {
      "main": [
        [
          {
            "node": "Should Register?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Register?": {
      "main": [
        [
          {
            "node": "Build Columns JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Summary to Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Columns JSON": {
      "main": [
        [
          {
            "node": "Register in data_center_tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register in data_center_tables": {
      "main": [
        [
          {
            "node": "Return Summary to Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "parametrized-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
